.hero-img1 {
  width: 25%;
  height: 400px;
  display: block;
}
.hero-title {
  font-family: "Montserrat", sans-serif;
  font-size: 67px;
  color: white;
  font-weight: 700;
  padding-top: 120px;
  z-index: 2;
  position: relative;
}

.hero-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: white;
  margin-left: 263px;
  width: 626px;
  z-index: 2;
  position: relative;
  margin-top: 22px;
}

.multiple-backgrounds {
  position: relative; /* Corrected 'postion' to 'position' */
  display: flex;
  flex-direction: row;
  height: 866px;
  width: 100%;
  background: url("/hero1.png") no-repeat bottom left / 519px 544px,
    url("/hero.png") no-repeat center center / cover;
}

.img-position {
  position: absolute;
  right: 0;
  top: 120px;
  height: 596px;
  max-width: 671px;
  z-index: 0;
}
.search-box {
  width: 961px;
  height: 50px;
  z-index: 6;
  padding-left: 10px;
  position: relative;
  border-radius: 200px;
  margin: 70px auto 0;
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}
.search-box::focus {
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}
/* Responsive styles */
@media (max-width: 1200px) {
  .multiple-backgrounds {
    max-width: 100% !important;
    display: block;
    height: 700px;
    background: url("/hero.png") no-repeat center center / cover;
  }

  .hero-title {
    font-size: 56px;
    padding-top: 120px;
  }

  .hero-content {
    font-size: 14px;
    margin-left: 0;
    width: 500px;
  }

  .img-position {
    display: none !important;
    max-width: 100%;
    height: auto;
    position: static;
    margin-top: 40px;
  }
  .search-box {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 48px;
    padding-top: 120px;
  }

  .hero-content {
    font-size: 14px;
    margin-left: 0;
    width: 400px;
  }

  .multiple-backgrounds {
    display: block !important;
    height: 600px;
    max-width: 100%;
    background: url("/hero.png") no-repeat center center / cover;
    postion: relative;
  }
  .img-position {
    max-width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
    display: none !important;
  }
  .search-box {
    width: 100%;
    margin: 70px auto 0;
  }
  .myform > .ant-form-item .ant-form-item-label > label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: 32px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px !important;
  }
}
@media (max-width: 768px) {
  .multiple-backgrounds {
    height: 500px;
    display: block !important;
    background: url("/hero.png") no-repeat center center / cover;
  }
  .hero-title {
    font-size: 36px;
    padding-top: 60px;
  }

  .hero-content {
    font-size: 12px;
    margin-left: 0;
    width: 300px;
  }
  .img-position {
    top: 80px;
    display: none !important;
  }
  .search-box {
    width: 100%;
    margin: 70px auto 0;
  }
  .myform > .ant-form-item .ant-form-item-label > label {
    font-size: 14px !important;
  }
  .location-box{
    position: relative!important;
    display: block!important;
  }
  .icon-direction {
    position: absolute!important;
    right:0!important;
    top: 10px;
  }
}

@media (max-width: 580px) {
  .location-box {
    display: block !important;
    position: relative!important;
  }
  .icon-direction {
    position: absolute!important;
    right: 0!important;
    top: 10px;
  }
  .custom-form {
    .ant-form-item {
      margin-bottom: 40px !important;
    }
  }
  .hero-title {
    font-size: 28px;
    padding-top: 50px;
  }

  .hero-content {
    font-size: 12px;
    margin-left: 0;
    width: 100%;
  }

  .img-position {
    display: none !important; /* Keep the image hidden */
    max-width: 100%;
    height: 400px;
  }

  .multiple-backgrounds {
    height: 500px;
    display: block !important;
    background: url("/hero.png") no-repeat center center / cover;
  }
  .search-box {
    width: 100%;
    margin: 30px auto 0;
  }
  .my-form > .ant-form-item {
    position: relative;
    display: block !important;
    align-items: center;
    max-width: 100%;
    height: 55px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px !important;
  }
}
.my-form > .ant-row {
  display: flex !important;
  flex-flow: nowrap !important;
}

.custom-form {
  .ant-form-item {
    margin-bottom: 0px !important;
  }
  .ant-select-selector {
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
.ant-select-selection-item {
  display: flex !important;
  text-align: center !important;
}
.custom-form-date {
  .ant-input {
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
.location-box {
  position: relative!important;
}

.icon-direction {
//   position: static !important;
}

.sea{
  font-family: "Montserrat";
  background-color: #0088ff;
  color: white;
  width: 50px;
  height: 50px;
  padding: 13px 8px 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  border-radius: 5px;
}
.search{
  font-family: "Montserrat";
  background-color: #0088ff;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}
.formInput{
  height:50px!important;
}
.origin-destination{
  height: fit-content!important;
  .ant-form-item {
    margin-bottom: 0px !important;
    }
}

.directionbutton{
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #eef4fb;
	background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}