* {
  padding: 0;
  margin: 0;
}
.container1 {
  max-width: 1320px !important;
  margin: auto;

  @media screen and (max-width: 1320px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 1280px) {
    padding: 0 10px;
  }
}

.shadow-custom {
  box-shadow: 0 4px 15px 0 rgba(58, 112, 191, 0.1);
}
@media (max-width: 768px) {
  .max-md-width-645px {
    max-width: 645px;
  }
  .max-md-height-745px {
    max-height: 745px;
  }
}
.submit {
  background-color: #0088ff;
  opacity: 1;
  border: 0;
  box-shadow: 0 4px 20px 0 rgba(0, 136, 255, 0.15);
  color: #fff;
  padding: 11px 24px;
  transition: 0.3s linear;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0px !important;
}
.submit:hover {
  opacity: 0.75;
  transition: all;
  transition-duration: 300ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.font-medium {
  font-weight: 500;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  right: 0 !important;
  top: -25px !important;
}

.btn1 {
  font-weight: 600;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #e0e4ec;
}
body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.react-tel-input .form-control {
  font-size: 14px;
  margin-top: 0 !important;
  padding-left: 48px;
  background: #ffffff;
  border: 0px !important;
  line-height: 25px;
}
.react-tel-input .form-control:focus {
  font-size: 14px;
  margin-top: 0 !important;
  padding-left: 48px;
  background: #ffffff;
  border: 0px !important;
  line-height: 25px;
}
.form-control:focus {
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

/* styles.css */
.right_side {
  background-color: #e0e4ec;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 10px;
}
.testimonial {
  background-color: #000c37;
  border-radius: 16px 16px 0;
  padding: 40px 20px;
  color: #c9cfdb;
}

@media (max-width: 768px) {
  .right_side {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.profile {
  height: 48px;
  width: 48px;
}
.font-medium2 {
  font-weight: 600;
}
.logo {
  height: 30px !important;
  width: 130px !important;
}

.nav {
  padding: 20px 0px;
}

.ant-input-affix-wrapper .ant-input-prefix svg {
  color: #c9cfdb !important;
}
.ant-input-affix-wrapper:focus-within .ant-input-prefix svg {
  color: #0088ff !important;
}

.b-input input::placeholder {
  color: #c9cfdb;
}
.b-input input {
  border: 0 !important;
}
.icon {
  content: "button-switch";
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-shrink: 0;
  margin: 0 5px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: default;
  color: #0139ff;
  opacity: 0.5;
  transition: all 0.25s ease;
  z-index: 50;
  position: absolute;
  left: 32.5%;
  font-weight: 700;
}

.ant-input-outline {
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}
.ant-input-outline:focus {
  border: 2px solid green !important;
  outline: 1px !important;
}
.location {
  width: 35% !important;
}
.location2 {
  width: 30% !important;
}
.search {
  height: 52px !important;
  width: 52px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0088ff;
  border-radius: 5px;
  background: #0088ff;
  cursor: pointer;
}
.box-container {
  padding: 10px 20px 15px;
  background: #e9f0f7;
  border-radius: 10px;
  color: #9fb1c1;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 20;
  margin-bottom: 20px;
}
.box-container2 {
  padding: 0 0 6px 0;
}
.menu-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 13.5px 20px;
  box-shadow: 0 0 20px rgba(105, 126, 157, 0.1);
 
}
.menu-title {
  font-weight: 500;
  margin-bottom: 10px !important;
  margin-top:4px!important;
  font-size:16px;
  color:#212529!important;
}
.menu-text{
  font-size:14px!important;
  color:#15354e!important;
}
@media screen and (max-width: 768px) {
  .search {
    width: 100% !important;
  }
  .location {
    width: 100% !important;
  }
  .location2 {
    width: 100% !important;
  }
  .logo {
    height: 27px !important;
    width: 115px !important;
  }
  .icon2 {
    transform: scaleY(1);
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
    margin: 0 5px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(58, 112, 191, 0.1);
    border-radius: 50%;
    cursor: default;
    color: #c9cfdb;
    opacity: 0.5;
    transition: all 0.25s ease;
    z-index: 50;
    position: absolute;
    left: 85%;
    top: 20%;
    font-weight: 700;
  }
}

/* .search:hover{ */
.icon2:active {
  transform: scaleY(1.1);
}
/* } */
@media screen and (max-width: 568px) {
  .search {
    width: 100% !important;
  }
  .location {
    width: 100% !important;
  }
  .location2 {
    width: 100% !important;
  }
  .logo {
    height: 25px !important;
    width: 110px !important;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
    margin: 0 5px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(58, 112, 191, 0.1);
    border-radius: 50%;
    cursor: default;
    color: #c9cfdb;
    opacity: 0.5;
    transition: all 0.25s ease;
    z-index: 60;
    position: absolute;
    left: 85%;
    top: 20%;
    font-weight: 700;
  }
}

/* .shipping-box{
  display:flex;
  justify-content:end;

} */
/* .shipping-box2{
  width:360px;
  padding:24px 16px;
  box-shadow:0 15px 30px rgba(58,112,191,.15);
  border-radius:10px;
  margin-right:60px!important;
  background:green!important;
} */
