*{
    padding:0;
    margin:0;
  }
  .container1 {
    max-width: 1320px !important;
    margin: auto;
  
    @media screen and (max-width: 1320px) {
      padding: 0 20px;
    }
  
    @media screen and (max-width: 1280px) {
      padding: 0 10px;
    }
  }
  
  .shadow-custom{
    box-shadow: 0 4px 15px 0 rgba(58, 112, 191, .1);
  }
  @media (max-width: 768px) {
    .max-md-width-645px {
      max-width: 645px;
    }
    .max-md-height-745px {
      max-height: 745px;
    }
  }
  .submit {
   
    background-color: #0088FF;
    opacity: 1;
    border: 0;
    box-shadow: 0 4px 20px 0 rgba(0,136,255,.15);
    color: #fff;
    padding: 11px 24px;
    transition: .3s linear;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 0px!important;
  }
  .submit:hover{
    opacity: 0.75;
    transition: all;
    transition-duration: 300ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .font-medium{
    font-weight: 500;
  }
  .relative{
    position: relative;
  }
  .absolute{
    position: absolute;
    right: 0!important;
    top:-25px!important;
  }
  
  .btn1{
    font-weight: 600;
    padding:11px;
    border-radius: 6px;
    border:1px solid #e0e4ec;
  
  }
  body{
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .react-tel-input .form-control {
    font-size: 14px;
    margin-top: 0 !important;
    padding-left: 48px;
    background: #FFFFFF;
    border: 0px!important;
    line-height: 25px;
  
}
.react-tel-input .form-control:focus{
    font-size: 14px;
    margin-top: 0 !important;
    padding-left: 48px;
    background: #FFFFFF;
    border: 0px!important;
    line-height: 25px;
  
}
.form-control:focus {
 
    border-color: transparent!important;
    outline: 0;
    box-shadow: none!important;
}




/* styles.css */
.right_side{
    background-color: #e0e4ec;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 10px;
  }
  .testimonial {
    background-color: #000c37;
    border-radius: 16px 16px 0;
    padding: 40px 20px;
    color:#c9cfdb;
}
  
  @media (max-width: 768px) {
    .right_side {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .profile{
    height: 48px;
    width: 48px;
    
  }
  .font-medium2{
    font-weight: 600;
  }
  .logo{
    height:30px!important;
    width:130px!important;
  }
  @media screen and (max-width:768px){
    .logo{
      height:27px!important;
      width:115px!important;
    }
  }
  @media screen and (max-width:568px){
    .logo{
      height:25px!important;
      width:110px!important;
    }
  }
  .nav{

    padding:20px 0px;
  }
 
  .ant-input-affix-wrapper .ant-input-prefix svg {
    color: #c9cfdb!important;
  }
.ant-input-affix-wrapper:focus-within .ant-input-prefix svg {
  color: #0088FF!important;
}

.b-input input::placeholder {
  color:#c9cfdb;
}
.b-input input{
  border:0!important;
}
.icon {
  content: "button-switch";
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-shrink: 0;
  margin: 0 5px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(58,112,191,.1);
  border-radius: 6px;
  cursor: default;
  color: #c9cfdb;
  opacity: .5;
  transition: all .25s ease;
  z-index: 2;
}
